/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.private
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
docker-compose.override.yml
.DS_Store
mcp-server.json
_docker_production/.env
phpunit.xml
_docker
nginx/nginx.default.conf
certs/app.hawki.dev.crt
certs/app.hawki.dev.key
certs/cert.pem
certs/db.hawki.dev.crt
certs/db.hawki.dev.key
certs/key.pem
